 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 

 
*{
    font-family: "DM Sans", sans-serif; 
    font-family: "Amaka", sans-serif; 

}


body {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;
}

.logo-img img{
    height: 32px;
    width: 85%;
}

/* this is to style the navbar */

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 100px;
    /* display: flex; */
}

nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #919DAB;
 margin-right: 20px;    
}

/* between header and hero starts */
.moyo img{
    height:80px;
    width: -4%;
}
 /* between header and hero ends  */

 /* hero section styling starts */
.hero-section{
    margin-top: 20px;
}

.hero-left{
    margin-left: 150px;
}

 .hero-left h2{
     font-family: Muli;
font-weight: 700;
font-size: 48px;
line-height: 50px;
letter-spacing: 2%; 
color: #000000;
} 

.hero-left p{
color: #7D7987;
Line-height:21px;
font-size: 15px;
}




.hero-button {
    outline: none;
    box-shadow: none;
    border: 0;
    /* background: #458FF6; */
    color: #458FF6;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
     margin-right: 1075px;
}


.hero-button:hover {
    background:#fff;
    color:  #458FF6;
    border: 1px solid  #458FF6;
}

.hero-right img{
height: 395px;
width: 36%;
margin-top: -290px;
margin-left: 685px;
}
 /* hero section styling ends */

 /* content styling  starts here*/

.content{
    margin-top: 70px;
}

 .content-header{
    text-align: center;
 }

 .content-header h2{
color: #000000;
 }

.content-header img{
    margin-bottom: 12px;
}

 .content-header p{
    color: #7D7987
 }

 .bird-img img{
width: 45%;
height: 395px;
opacity: 100%;
margin-top: 40px;
}

.content-1-1{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: -390px;
opacity: 0.9;
margin-left: 220px; 
padding-bottom: 10px;
padding-top: 25px;
padding-left: 20px;
margin-right: 880px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-1 h3{
color: #000000;
}

.content-1 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;

letter-spacing: 0%;
color: #7D7987;
}


.content-1-2{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: -250px;
opacity: 0.9;
margin-left: 530px; 
padding-bottom: 10px;
padding-top: 25px;
padding-left: 20px;
margin-right: 560px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-2 h3{
color: #000000;
}

.content-2 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;
letter-spacing: 0%;
color: #7D7987;
}
 

.content-1-3{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: -265px;
opacity: 0.9;
margin-left: 840px; 
padding-bottom: 10px;
padding-top: 25px;
padding-left: 20px;
margin-right: 250px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-3 h3{
color: #000000;
}

.content-3 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;
letter-spacing: 0%;
color: #7D7987;
}

.content-1-4{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: 20px;
opacity: 0.9;
margin-left: 220px; 
padding-bottom: 10px;
padding-top: 25px;
padding-left: 20px;
margin-right: 882px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-4 h3{
color: #000000;
}

.content-4 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;
letter-spacing: 0%;
color: #7D7987;
}

.content-1-5{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: -265px;
opacity: 0.9;
margin-left: 527px; 
padding-bottom: 10px;
padding-top: 25px;
padding-left: 20px;
margin-right: 556px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-5 h3{
color: #000000;
margin-top: 40px;
}

.content-5 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;
letter-spacing: 0%;
color: #7D7987;
}


.content-1-6{
    border: 2px solid #ffffff;
    border-radius: 19px;
    background: #ffffff;
    margin-top: -265px;
opacity: 0.9;
margin-left: 840px; 
padding-bottom: 25px;
padding-top: 25px;
padding-left: 20px;
margin-right: 245px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-6 h3{
color: #000000;
}

.content-6 p{
font-family: Mulish;
font-weight: 300;
font-size: 16px;
letter-spacing: 0%;
color: #7D7987;
}

.moyin img{
    /* opacity: 1; */
    margin-top: -200px;
    margin-left: 1044px;
}

.mofe-btn{
    text-align: center;
}

.btn-sign{
    outline: none;
    box-shadow: none;
      border: 1px solid  #458FF6;
    background: #ffffff;
    color: #458FF6;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    /* padding-left: 45px; */
    text-align: center;
     margin-right: 1165px;
     opacity: 0.9;
      
}


.btn-sign:hover {
    background:#fff;
    /* color:  #458FF6; */
    /* border: 1px solid  #458FF6; */
}
 /*  content styling  end here */